<!-- Extend Base Template -->
{% extends "base.html" %} {% block title %}Home{% endblock %}

<!-- Index/Home Block -->
{%block content%}

    <!-- For Authenticated Users -->
    {%if current_user.is_authenticated%}

        <div class="top">
            <div class="greeting">
                <p>Welcome <a href="/my_posts/{{current_user.username}}">{{current_user.username}}</a></p>
            </div>

            <div class="addPost">
                <a id="add-btn" class="btn btn-primary btn-sm" href="/add_post/{{current_user.username}}">ADD POST</a>
            </div>

            <div class="search">
                <form action="{{url_for('results')}}" method="POST">
                    <input name="search" type="search" placeholder="Author Search">

                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>

        <div class="allPosts">
            <p>Have Fun!</p>
        </div>
        
        <!-- Displaying available posts/articles -->
        {% for post in posts%}


            <div class="main-blog">

                <hr class="big-hr">

                <div class="title-block">
                    <h4>{{post['title']}}</h4>

                    <!-- Add Edit button if logged in user owns the post/article -->
                    {%if current_user.username == post.author%}
                        <div class="edit">
                            <a href="/update/{{post.id}}/"><i class="fa-solid fa-pen-to-square"></i></a>
                        </div>
                    {%endif%}
                </div>

                <hr class="title-hr">

                <div class="content-block">
                    <p>{{post['content'][0:250]}}... <a href="/read/{{post.id}}" >Full Article</a></p>
                </div>

                <hr class="dot-hr">

                <div class="post-details">

                    <!-- If logged in user owns the post/article -->
                    {%if current_user.username == post.author%}
                        <p>By ME <i class="fa-solid fa-face-smile"></i> on {{post['date'].strftime('%d/%b/%Y')}}</p>

                    <!-- If logged in user does not own the post/article -->
                    {%else%}
                        <p>By {{post['author']}} on {{post['date'].strftime('%d/%b/%Y')}}</p>
                    {%endif%}

                    <!-- Save Post -->
                    <form action="/save_post/{{post.id}}" method="POST" class="save_form">
        
                        <div>
                            <div>
                                <input id="submit" type="submit" class="btn btn-primary" value="Save Post">
                            </div>
                        </div>
        
                    </form>
                    
                </div>

            </div>
        

        {%endfor%}

    <!-- When User is unauthothenticated   -->
    {%else%}

        <div class="top">
            <div class="greeting">
                <p>Welcome Guest</p>
            </div>

            <div class="search">
                <form action="{{url_for('results')}}" method="POST">
                    <input type="search" name="search" placeholder="Search By Author">

                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    

        <div class="allPosts">
            <p>Have Fun!</p>
        </div>
 

        <!-- Displaying available posts/articles -->
        {% for post in posts%}

            <div class="main-blog">

                <hr class="big-hr">

                <div class="title-block">
                    <h4>{{post['title']}}</h4>
                </div>

                <hr class="title-hr">

                <div class="content-block">
                    <p>{{post['content'][0:250]}}... <a href="/read/{{post.id}}" >Full Article</a></p>
                </div>

                <hr class="dot-hr">

                <div class="post-details">
                    <p>By {{post['author']}} on {{post['date'].strftime('%d/%b/%Y')}}</p>
                </div>

            </div>
        

        {%endfor%}

    {%endif%}



{%endblock%}