<!-- Extend Base Template -->
{% extends "base.html" %} {% block title %}My Posts{% endblock %}

<!-- My posts Block - To view the all posts of a logged in user -->
{%block content%}

    <!-- For Authenticated Users -->
    {%if current_user.is_authenticated%}

        <div class="top">
            <div class="addPost">
                <a class="btn btn-primary btn-sm" href="/add_post/{{current_user.username}}">ADD POST</a>
            </div>
        </div>

        <div class="allPosts">
            <p>My Posts!</p>

             <!-- View saved posts -->
            <p><a href="/saved_posts/{{current_user.username}}"><i>View my saved posts</i></a></p>
        </div>

        <!-- Displaying available posts/articles -->
        {% for post in posts%}


            <div class="main-blog">

                <hr class="big-hr">

                <div class="title-block">
                    <h4>{{post['title']}}</h4>

                    <!-- Add Edit button if logged in user owns the post/article -->
                    {%if current_user.username == post.author%}
                        <div class="edit">
                            <a href="/update/{{post.id}}"><i class="fa-solid fa-pen-to-square"></i></a>
                        </div>
                    {%endif%}
                </div>

                <hr class="title-hr">

                <div class="content-block">
                    <p>{{post['content'][0:250]}}... <a href="/read/{{post.id}}" >Full Article</a></p>
                </div>

                <hr class="dot-hr">

                <div class="post-details">
                    <p>By ME <i class="fa-solid fa-face-smile"></i> on {{post['date'].strftime('%d/%b/%Y')}}</p>

                    <!-- Save Post -->
                    <form action="/save_post/{{post.id}}" method="POST" class="save_form">
        
                        <div>
                            <div>
                                <input id="submit" type="submit" class="btn btn-primary" value="Save Post">
                            </div>
                        </div>
        
                    </form>
                </div>

            </div>
        

        {%endfor%}
    

    {%endif%}



{%endblock%}
